* {
  box-sizing: border-box;  /*não sei se é necessário*/
}

div {
	max-width: 800px;
	margin: 1px;
	padding: 2px;
	text-align: justify;
	text-indent: 2em;
}

#first {
	background-color: black;
	color: white;
}

#second {
	background-color: blue;
	color: white;
}